/* Stores main styling that needs to be applied to all pages */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    color: #dfdfdf;
    background: linear-gradient(45deg, #121212 -20%, #000237 50%, #121212 120%);
    font-family: 'kanit', sans-serif;
}
